<mat-card>
    <mat-card-header>
        <mat-card-title>{{ collection?.name }}</mat-card-title>
        <mat-icon aria-hidden="false" aria-label="Delete" fontIcon="delete" (click)="delete()"></mat-icon>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="5" rowHeight="1:2">
            <mat-grid-tile
                    *ngFor="let item of collection?.cards">
                <mat-card style="max-width: 100%;max-height: 100%">
                    <mat-card-header>
                        <mat-card-title>{{ item.name }}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="{{apiService.getCardUrl(item.id)}}"
                         style="height: 400px; object-fit: contain;">
                    <mat-card-content>
                        Nombre: {{ item.count }}
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button (click)="removeCard(item.id)">Supprimer</button>
                        <button mat-button (click)="openEditCountDialog(item.id, item.count)">Modifier nombre</button>
                    </mat-card-actions>
                </mat-card>

            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red" (click)="openAddDialog()">
        <i class="large material-icons">+</i>
    </a>
</div>